<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>About Us - eCampus-Connect</title>
</head>
<body>
	<div class="navbar">
		<a href="/login" class="Login-button">Login</a>
		<a href="/signup" class="Signup-button">Sign/Up</a>
		<a href="/" class="logo">eCampus-Connect</a>
		<a href="/contact" class="pages_right" >Contact</a>
		<a href="/aboutus" class="pages_right">About Us</a>
		<a href="/" class="pages_right">Home</a>
	</div>
    <div class="content">
        <h1>About Us</h1>
        <p>Welcome to eCampus-Connect, your digital campus event hub!</p>
        <p>At eCampus, we're dedicated to creating an engaging online community for students in South African tertiary institutions. We bring the campus experience directly to you, regardless of where you are.</p>
        <p>Our platform is your gateway to a world of exciting events, including entertainment, leadership seminars, talent showcases, educational sessions, and digital sports competitions. We're here to keep you entertained, informed, and connected.</p>
        <p>Our annual mega event is a highlight not to be missed, promising growth, endless possibilities, and a whole lot of fun. It's where your eCampus journey truly begins!</p>
        <p>Join us in shaping the future of campus life. Together, we are eCampus-Connect!</p>
    </div>

    <div class="footer">
        &copy; 2023 eCampus-Connect. All rights reserved.
    </div>
</body>
</html>
