<!Doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/style.css">
	<title> eCampus-Connect</title>	
</head>
<body>
	<div class="navbar">
		<a href="/login" class="Login-button">Login</a>
		<a href="/signup" class="Signup-button">Sign/Up</a>
		<a href="/" class="logo">eCampus-Connect</a>
		<a href="/contact" class="pages_right" >Contact</a>
		<a href="/aboutus" class="pages_right">About Us</a>
		<a href="/" class="pages_right">Home</a>
	</div>
	<div class="centered-text">
		<h1>Welcome to eCampus-Connect: Your Digital Campus Event Hub!</h1>
		<p>"eCampus Connect: Your Digital Campus Event Hub" is the future of online campus events.
		It unites students from South African tertiary institutions in a dynamic virtual community.
		Experience entertainment, leadership seminars, talent showcases, and education.
		Engage in digital sports competitions and more. Join us for an annual mega event that promises growth and endless possibilities. Your eCampus journey begins here!</p>
	</div>
	<div class="right-side">
		<div class="slideshow-container">
			<img src="../images/level.jpg" alt="slideshow" class="right-image">
		</div>
	</div>

	
	<!-- Container for the horizontal button at the bottom -->
	<div class="horizontal-button">
		<button class="horizontal-button">Sign Up for FREE</button>
	</div>
	
</body>
</html>
